/VAMP_DEV/nbproject/private/
/VAMP_NBP/nbproject/private/
/VAMP_AddOns/nbproject/private/
/VAMP_DEV/build/
/VAMP_DEV/VAMP_Tools_SeqPairCalculator/VAMP_Tools_SequencePairClassifier/build/
/VAMP_NBP/build/
/VAMP_NBP/CentralLookup/build/
/VAMP_NBP/VAMP_API/build/
/VAMP_NBP/VAMP_Exporter/build/
/VAMP_NBP/VAMP_Libraries/build/
/VAMP_NBP/VAMP_UI_Options/build/
/VAMP_NBP/VAMP_Utils/build/
/VAMP_NBP/VAMP_Parser/build/
/VAMP_NBP/VAMP_Backend/build/
/VAMP_NBP/VAMP_UI/build/
/VAMP_NBP/VAMP_UI_Visualisation/build/
/VAMP_NBP/VAMP_UI_Visualisation_Track/build/
/VAMP_NBP/VAMP_UI_Visualisation_Reference/build/
/VAMP_AddOns/build/
/VAMP_AddOns/VAMP_Thumbnail/build/
/VAMP_AddOns/VAMP_Tools_ReadSearch/build/
/VAMP_AddOns/VAMP_Tools_ReferenceEditor/build/
/VAMP_AddOns/VAMP_Tools_ExternalViewer/build/
/VAMP_AddOns/VAMP_Tools_RNAFolder/build/
/VAMP_AddOns/VAMP_Tools_SNPDetection/build/
/VAMP_AddOns/VAMP_UI_DataManagement/build/
/VAMP_AddOns/VAMP_Tools_TwoTrackViewer/build/
/VAMP_AddOns/VAMP_UI_Importer/build/