/VAMP_DEV/nbproject/private/
/VAMP_NBP/nbproject/private/
/VAMP_AddOns/nbproject/private/
/VAMP_DEV/build/
/VAMP_DEV/VAMP_Tools_SeqPairCalculator/VAMP_Tools_SequencePairClassifier/build/
/VAMP_NBP/build/
/VAMP_NBP/CentralLookup/build/
/VAMP_NBP/VAMP_API/build/
/VAMP_NBP/VAMP_Exporter/build/
/VAMP_NBP/VAMP_Libraries/build/
/VAMP_NBP/VAMP_UI_Options/build/
/VAMP_NBP/VAMP_Utils/build/
/VAMP_NBP/VAMP_Parser/build/
/VAMP_NBP/VAMP_Backend/build/
/VAMP_NBP/VAMP_UI/build/
/VAMP_NBP/VAMP_UI_Visualisation/build/
/VAMP_NBP/VAMP_UI_Visualisation_Track/build/
/VAMP_NBP/VAMP_UI_Visualisation_Reference/build/
/VAMP_AddOns/build/
/VAMP_AddOns/VAMP_Thumbnail/build/
/VAMP_AddOns/VAMP_Tools_ReadSearch/build/
/VAMP_AddOns/VAMP_Tools_ReferenceEditor/build/
/VAMP_AddOns/VAMP_Tools_ExternalViewer/build/
/VAMP_AddOns/VAMP_Tools_RNAFolder/build/
/VAMP_AddOns/VAMP_Tools_SNPDetection/build/
/VAMP_AddOns/VAMP_UI_DataManagement/build/
/VAMP_AddOns/VAMP_Tools_TwoTrackViewer/build/
/VAMP_AddOns/VAMP_UI_Importer/build/
/ReadXplorer/nbproject/private/
/ReadXplorer_AddOns/nbproject/private/
/ReadXplorer_DEV/nbproject/private/
/VAMP_AddOns/VAMP_Tools_TwoTrackViewer/nbproject/private/
/VAMP_AddOns/VAMP_Tools_RNAFolder/nbproject/private/
/VAMP_AddOns/VAMP_UI_DataManagement/nbproject/private/
/VAMP_AddOns/VAMP_Thumbnail/nbproject/private/
/VAMP_AddOns/VAMP_RNA_Trimming/nbproject/private/
/VAMP_AddOns/VAMP_Tools_DetailedViewer/nbproject/private/
/VAMP_AddOns/VAMP_Tools_ReferenceEditor/nbproject/private/
/VAMP_AddOns/VAMP_Tools_TranscriptionAnalyses/nbproject/private/
/VAMP_AddOns/ReadXplorer_Tools_CoverageAnalysis/nbproject/private/
/VAMP_AddOns/ReadXplorer_Tools_ReadPairClassifier/nbproject/private/
/VAMP_AddOns/VAMP_Plotting/nbproject/private/
/VAMP_AddOns/VAMP_UI_Importer/nbproject/private/
/VAMP_AddOns/VAMP_Dashboard/nbproject/private/
/VAMP_AddOns/VAMP_Tools_SNPDetection/nbproject/private/
/VAMP_AddOns/VAMP_Tools_TranscriptomeAnalyses/nbproject/private/
/VAMP_NBP/VAMP_Backend/nbproject/private/
/VAMP_NBP/SamtoolsExteded/nbproject/private/
/VAMP_NBP/VAMP_Mapping/nbproject/private/
/VAMP_NBP/VAMP_Exporter/nbproject/private/
/VAMP_NBP/VAMP_Utils/nbproject/private/
/VAMP_NBP/VAMP_Libraries/nbproject/private/
/VAMP_NBP/VAMP_UI/nbproject/private/
/VAMP_NBP/VAMP_UI_Visualisation/nbproject/private/
/VAMP_NBP/VAMP_API/nbproject/private/
/VAMP_NBP/VAMP_UI_Visualisation_Track/nbproject/private/
/VAMP_NBP/VAMP_Parser/nbproject/private/
/VAMP_NBP/VAMP_UI_Options/nbproject/private/
/VAMP_NBP/CentralLookup/nbproject/private/
/VAMP_NBP/VAMP_UI_Visualisation_Reference/nbproject/private/
/ReadXplorer/CentralLookup/build/
/ReadXplorer/build/
/ReadXplorer/ReadXplorer_Libraries/build/
/ReadXplorer/ReadXplorer_Utils/build/
/ReadXplorer/ReadXplorer_API/build/
/ReadXplorer/ReadXplorer_Exporter/build/
/ReadXplorer/ReadXplorer_UI_Options/build/
/ReadXplorer/ReadXplorer_Parser/build/
/ReadXplorer/ReadXplorer_Backend/build/
/ReadXplorer/ReadXplorer_Mapping/build/
/ReadXplorer/ReadXplorer_UI/build/
/ReadXplorer/ReadXplorer_UI_Visualisation/build/
/ReadXplorer/ReadXplorer_UI_Visualisation_Reference/build/
/ReadXplorer/ReadXplorer_UI_Visualisation_Track/build/