# Created by https://www.gitignore.io

### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
application/nbactions-deployment.xml

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml

!/branding/src/main/nbm-branding/core/core.jar/
!/branding/src/main/nbm-branding/modules/org-netbeans-core-windows.jar/
!/branding/src/main/nbm-branding/modules/org-netbeans-core.jar/
/readxplorer-databackend/nbproject/